*{
    margin: 0px;
    padding: 0px;
    font-family: Geneva;
}

body{
    background-color: beige;
}

.banner{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    border-color: gold;
    border-style: double;
    border-left: 10cm;
    border-right: 10cm;
    border-width: 10px;
    background-color: red;
}

.banner-text{
    display: inline-block;
    animation: scroll-banner 20s linear infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color: red;
    color: aliceblue;
}
@keyframes scroll-banner {
    from{transform: translateX(100vw);}
    to{transform: translateX(-100vw);}
}

.main-content{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.studio-art-snippet{
    width: 50%;
    height: 400px;
    border-style: groove;
    border-color: gold;
    border-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.studio-art-snippet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leader-Board{
    width: 25%;
    height: 400px;
    border-style:groove;
    border-color: gold;
    border-width: 10px;
    background-color: azure;
}

.prediction-display{
    width: 25%;
    height: 400px;
    border-style:groove;
    border-color: gold;
    border-width: 10px;
}

.studio-selection h3{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #A3262A;
    color: aliceblue;

}

.studio-options{
    display: flex;
    padding: 3px;
    margin: 10px;
    gap: 100px;
    justify-content: center;
    background-color: beige;
    
}

.studio-options button{
    background-color: #F2888B;
    padding: 5px;
    border-style: inset;
    border-width: 8px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    border-color: #F5AC27;
    transition: transform 0.5s ease;
}

.studio-options button:hover{
    background-color: #CC232A;
    border-color: gold;
    transform: scale(1.05);
}
.studio-options button.selected{
    background-color: yellowgreen;
    border-color: orangered;
    color: black;

}

.check{
    background-color: transparent;
    color: transparent;
    border-color: transparent;

}

.check-select{
    background-color: #CC232A;
    color: aliceblue;
    border-color: gold;
    border-style: ridge;
    border-width: 5px;
    display: flex;
    border-width: 8px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.check-select:hover{
    background-color: red;
    border-color: rgb(255, 166, 0);
    color: rgb(128, 255, 1);
    
}

.check.selected{
    animation: boop 0.3s linear;
}
@keyframes boop {
    from{transform: scale(1)}
    50%{transform: scale(1.1);}
    to{transform: scale(1)}
}

.leaderboard-player {
    font-size: 20px;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.leaderboard-ai {
    font-size: 20px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.timer {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-left,
.timer-right {
    position: absolute;
    height: 100%;
    width: 52%;
    background-color: greenyellow;
    transition: width 1s linear;
}

.timer-left {
    left: 0;
    transform-origin: right;
}

.timer-right {
    right: 0;
    transform-origin: left;
}

#timer-text {
    position: relative;
    z-index: 2;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.startingScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.startingScreen button{
    margin-top: 30px;
    padding: 10px;
    color: aliceblue;

    background-color: #A3262A;
    border-color: #F5AC27;
    border-width: 3px;
}
.startingScreen button:hover{
    background-color: #ff030b;
    border-color: #ffa703;
}